﻿@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Licene management system created for learing purposes.</p>
<p>Features: </p>
<ul>
    <li>Creating, assigning to user, searching licenses</li>
    <li>element 2</li>
    <li>element 3</li>
</ul>