﻿@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    <strong>E-mail:</strong>   <a href="mailto:grzesiek.bracha@gmail.com">grzesiek.bracha@gmail.com</a><br />
</address>