﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>License Management System</h1>
    <p class="lead">LMS is a web-based managment solution for licensing</p>
    <p class="lead">Provides easy management of customers, products and licenses</p>
</div>