﻿@model PagedList.IPagedList<LMS.Models.License>
@using PagedList.Mvc;

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Licenses";
}

<h2>Licenses</h2>

<p>
    @using (Html.BeginForm())
    {
    <p>
        @Html.TextBox("SearchString")
        @Html.DropDownList("searchType", new SelectList(new List<SelectListItem> {
           new SelectListItem { Text = "License Key", Value = "licKey" },
           new SelectListItem { Text = "E-mail", Value = "email" }
        }, "Value", "Text"))
        <button class="btn btn-primary" type="submit" id="searchLicense" 
                onclick="location.href='@Url.Action("Index", "Licenses")'">Search</button>
    </p>     
    }
    
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().ExpiryTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().CustomerName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().CustomerEmail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().LicenseKey)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Price)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ExpiryTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CustomerName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CustomerEmail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LicenseKey)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, searchString = ViewBag.SearchString, searchType = ViewBag.SearchType }))

@Html.ActionLink("Create New", "Create")
